{% extends 'base.html.twig' %}

{% block body %}
    <h1>The Lastest Comics</h1>

    <div class="comic-list" id="comic-list">
        {% include 'home/_list.html.twig' with { comics: comics } %}
    </div>
{% endblock %}
