{% extends 'base.html.twig' %}

{% block body %}
    <input type="text" id="search-bar" placeholder="Rechercher un serie..."/>

    <section class="serie-list" id="serie-list">
        {% include 'series/_list.html.twig' with {
            series: series,
            currentPage: currentPage,
            startPage: startPage,
            endPage: endPage,
            totalPages: totalPages,
            routeName: routeName|default('front_series'),
            searchTitle: ''
        } %}
    </section>

    <script type="module">
        import {createSearch} from '/assets/js/searchByTitleOrName.js';

        createSearch({
            searchInputSelector: '#search-bar',
            listContainerSelector: '#serie-list',
            fetchUrl: '/series/search',
            queryParam: 'title',   //
            minChars: 3,
            defaultHtml: `{% include 'series/_list.html.twig' with {
                series: series,
                currentPage: currentPage,
                startPage: startPage,
                endPage: endPage,
                totalPages: totalPages,
                routeName: routeName|default('front_series'),
                searchTitle: ''
            } %}`
        });
    </script>

{% endblock %}
