{% for comic in comics %}
    <div class="comic-card">
        <img src="{{ comic.thumbnail ?: asset('assets/images/comic-no-img.jpg') }}" alt="{{ comic.title }}">
        <h3>{{ comic.title }}</h3>
        <p>{{ comic.dateFormatted ?: 'Pas de date' }}</p>
    </div>
{% else %}
    <p>Aucun comic trouvé.</p>
{% endfor %}
