{% extends 'base.html.twig' %}

{% block body %}
    <input type="text" id="search-bar" placeholder="Rechercher un comic..."
           value="{{ app.request.query.get('title')|default('') }}"/>

    <section class="comic-list" id="comic-list">
        {% include 'comics/_list.html.twig' with {
            comics: comics,
            currentPage: currentPage,
            startPage: startPage,
            endPage: endPage,
            totalPages: totalPages,
            routeName: routeName|default('front_comics'),
            searchTitle: ''
        } %}
    </section>

    <script type="module">
        import {createSearch} from '/assets/js/searchByTitleOrName.js';

        createSearch({
            searchInputSelector: '#search-bar',
            listContainerSelector: '#comic-list',
            fetchUrl: '/comics/search',
            queryParam: 'title',   //
            minChars: 3,
            defaultHtml: `{% include 'comics/_list.html.twig' with {
                comics: comics,
                currentPage: currentPage,
                startPage: startPage,
                endPage: endPage,
                totalPages: totalPages,
                routeName: routeName|default('front_comics'),
                searchTitle: ''
            } %}`
        });
    </script>
{% endblock %}
