{% extends 'base.html.twig' %}

{% block body %}
    <div class="search-container">
        <input type="text" id="search-bar" placeholder="Search for characters ..."/>
    </div>

    <section class="character-list" id="character-list">
        {% include 'characters/_list.html.twig' with {
            characters: characters,
            currentPage: currentPage,
            startPage: startPage,
            endPage: endPage,
            totalPages: totalPages,
            routeName: routeName|default('front_characters'),
            searchName: ''
        } %}
    </section>

    <script type="module">
        import {createSearch} from '/assets/js/searchByTitleOrName.js';

        createSearch({
            searchInputSelector: '#search-bar',
            listContainerSelector: '#character-list',
            fetchUrl: '/characters/search',
            queryParam: 'name',   // <-- ici pour que ça devienne ?name=...
            minChars: 3,
            defaultHtml: `{% include 'characters/_list.html.twig' with {
                characters: characters,
                currentPage: currentPage,
                startPage: startPage,
                endPage: endPage,
                totalPages: totalPages,
                routeName: routeName|default('front_characters'),
                searchName: ''
            } %}`
        });
    </script>

{% endblock %}
